# === Node / frontend ===
frontend/node_modules/
frontend/dist/
frontend/out-tsc/
frontend/.angular/
frontend/tmp/

# === Backend / Java / Maven ===
backend/target/
*.h2.db
*.mv.db
*.trace.db
*.lock.db
!/src/main/resources/
!/src/test/resources/
.mvn/wrapper/maven-wrapper.jar

# === IDEs / Editors ===
.idea/
.vscode/
*.sublime-workspace
*.launch
*.classpath
*.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
.nb-gradle/
nbproject/private/
nbbuild/
dist/
nbdist/
*.iml

# === Logs ===
npm-debug.log*
yarn-error.log*
*.log

# === Coverage / temp files ===
coverage/
connect.lock
.sass-cache/
__screenshots__/
libpeerconnection.log
testem.log
/tmp/

# === OS files ===
.DS_Store
Thumbs.db

# === Environment files ===
.env
