<nav class="bg-neutral-primary">
  <div class="bg-gray-800 text-white py-3 px-4 flex items-center justify-between">
    <button
      title="toggle theme"
      (click)="darkThemeSelectorService.toggleTheme()"
      class="p-2 rounded-lg
         bg-gray-200 dark:bg-gray-700
         hover:bg-gray-300 dark:hover:bg-gray-600
         transition">

      @if (darkThemeSelectorService.currentTheme() === 'light') {
        <img class="h-5 w-5" src="/sun.svg" alt="Light mode">
      } @else if (darkThemeSelectorService.currentTheme() === 'dark') {
        <img class="h-5 w-5" src="/moon.svg" alt="Dark mode">
      } @else {
        <img class="h-5 w-5" src="/system.svg" alt="System mode">
      }

    </button>

    <div class="flex space-x-6">
      <a
        title="Home"
        [routerLink]="['/home']"
        class="p-2 rounded-lg
         bg-gray-200 dark:bg-gray-700
         hover:bg-gray-300 dark:hover:bg-gray-600
         transition">
        <img class="h-5 w-5" src="/home.svg" alt="Home">
      </a>
      @if (isAuthenticated()) {
        @if (currentUser()?.confirmed) {
          <a
            title="Profile page"
            [routerLink]="['/profile', currentUser()?.id]"
            class="p-2 rounded-lg
         bg-gray-200 dark:bg-gray-700
         hover:bg-gray-300 dark:hover:bg-gray-600
         transition">
            <img class="h-5 w-5" src="/user.svg" alt="Profile">
          </a>

          @if (currentUser()?.role == Role.ADMIN) {
            <a
              title="Manage Users"
              [routerLink]="['/users']" class="p-2 rounded-lg
         bg-gray-200 dark:bg-gray-700
         hover:bg-gray-300 dark:hover:bg-gray-600
         transition">
              <img class="h-5 w-5" src="/adjust.svg" alt="Manage users">
            </a>
          }
        }
        <button
          title="logout"
          (click)="logout()"
          class="p-2 rounded-lg
         bg-gray-200 dark:bg-gray-700
         hover:bg-gray-300 dark:hover:bg-gray-600
         transition">
          <img class="h-5 w-5" src="/logout.svg" alt="logout">
        </button>
      }
    </div>
  </div>
</nav>
