<div
  class="min-h-screen bg-gray-100 dark:bg-gray-900
         text-gray-900 dark:text-gray-100
         flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 dark:text-gray-100">
      Registration form
    </h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white dark:bg-gray-700 py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" [formRoot]="regForm">
        <div>
          <label for="name" class="block text-sm font-medium text-gray-700 dark:text-white">
            Name
          </label>
          <div class="mt-1">
            <input [formField]="regForm.name" id="name" type="text"
                   class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 dark:text-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                   placeholder="Enter your name">
            @if (regForm.name().touched() && regForm.name().invalid()) {
              <ul>
                @for (error of regForm.name().errors(); track $index) {
                  <li class="text-red-700">{{ error.message }}</li>
                }
              </ul>
            }
          </div>
        </div>
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700 dark:text-white">
            Email address
          </label>
          <div class="mt-1">
            <input [formField]="regForm.email" id="email" type="email"
                   class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 dark:text-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                   placeholder="Enter your email address">

            @if (regForm.email().touched() && regForm.email().invalid()) {
              <ul>
                @for (error of regForm.email().errors(); track $index) {
                  <li class="text-red-700">{{ error.message }}</li>
                }
              </ul>
            }
          </div>
        </div>
        <div>
          <label for="role" class="block text-sm font-medium text-gray-700 dark:text-white">
            Role
          </label>
          <div class="mt-1">
            <select [formField]="regForm.role" id="role"
                    class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 dark:text-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            >
              <option class="appearance-none rounded-md relative block w-full px-3 py-2 bg-white dark:bg-gray-700"
                      value="">Select role
              </option>
              @for (role of userRoles; track role) {
                <option class="appearance-none rounded-md relative block w-full px-3 py-2 bg-white dark:bg-gray-700"
                        [value]="role">{{ role }}
                </option>
              }
            </select>
            @if (regForm.role().invalid()) {
              <ul>
                @for (error of regForm.role().errors(); track $index) {
                  <li class="text-red-700">{{ error.message }}</li>
                }
              </ul>
            }
          </div>
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700 dark:text-white">
            Password
          </label>
          <div class="mt-1">
            <input [formField]="regForm.password" id="password" type="password"
                   class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 dark:text-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                   placeholder="Enter your password">
            @if (regForm.password().touched() && regForm.password().invalid()) {
              <ul>
                @for (error of regForm.password().errors(); track $index) {
                  <li class="text-red-700">{{ error.message }}</li>
                }
              </ul>
            }
          </div>
        </div>
        <div>
          <label for="password_confirm" class="block text-sm font-medium text-gray-700 dark:text-white">
            Confirm password
          </label>
          <div class="mt-1">
            <input [formField]="regForm.confirm_password" id="password_confirm" type="password"
                   class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 dark:text-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                   placeholder="Confirm your password">
            @if (regForm.confirm_password().touched() && regForm.confirm_password().invalid()) {
              <ul>
                @for (error of regForm.confirm_password().errors(); track $index) {
                  <li class="text-red-700">{{ error.message }}</li>
                }
              </ul>
            }
          </div>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input [formField]="regForm.remember" id="remember_me" type="checkbox"
                   class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
            <label for="remember_me" class="ml-2 block text-sm text-gray-900 dark:text-white ">
              Remember me
            </label>
          </div>
          <div class="text-sm">
            <a href="#" class="font-medium text-blue-600 hover:text-blue-500">
              Forgot your password?
            </a>
          </div>
        </div>
        <div>
          <button type="submit" [disabled]="isRegDisabled()"
                  class="
                    cursor-pointer group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md
                    text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
                      disabled:opacity-50 disabled:cursor-not-allowed
                        ">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
