<div
  class="min-h-screen bg-gray-100 dark:bg-gray-900
         text-gray-900 dark:text-gray-100
         flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 dark:text-gray-100">
      Listing Users
    </h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-5xl">
    <div class="bg-white dark:bg-gray-700 shadow sm:rounded-lg">

      <div class="grid grid-cols-6 gap-4 px-6 py-3 border-b font-semibold text-sm text-gray-600 dark:text-gray-200">
        <div>ID</div>
        <div>Full Name</div>
        <div>Email</div>
        <div>Role</div>
        <div>Modify</div>
        <div>Delete</div>
      </div>

      @for (user of users(); track user.id) {
        <div
          class="grid grid-cols-6 gap-4 px-6 py-3 text-sm
               border-b last:border-b-0
               text-gray-900 dark:text-gray-100
               hover:bg-gray-50 dark:hover:bg-gray-600 transition"
        >
          <div>{{ user.id }}</div>
          <div>{{ user.name }}</div>
          <div>{{ user.email }}</div>
          <div class="font-medium">{{ user.role }}</div>

          <a matTooltip="edit user"
             [routerLink]="['/profile', user.id]"
             class="p-2 rounded-lg
         bg-gray-200 dark:bg-gray-700
         hover:bg-gray-300 dark:hover:bg-gray-600
         transition">
            <img class="h-5 w-5" src="/edit.svg" alt="Delete user">
          </a>

          <button
            matTooltip="delete user"
            (click)="confirmAndDelete()"
            class="p-2 rounded-lg
         bg-gray-200 dark:bg-gray-700
         hover:bg-gray-300 dark:hover:bg-gray-600
         transition">
            <img class="h-5 w-5" src="/delete.svg" alt="Edit user">
          </button>

        </div>
      }
    </div>
  </div>

</div>
